<div class="table-container">
    <h2 class="main-title">Проекты</h2>
    <div class="table-tr">
        <p class="header">ID</p>
        <p class="header">Название проекта</p>
        <p class="header">Дата создания</p>
        <p class="header">Дедлайн</p>
        <p class="header">Стоимость</p>
        <p class="header">Описание</p>
        <p class="header">Название/имя заказчика</p>
        <p class="header"></p>
    </div>
    <ob-project-item 
        *ngFor="let prjct of projects; index as idx"
        [index]="idx"
        [id]="prjct.project_id"
        [name]="prjct.project_name"
        [crDate]="prjct.create_date"
        [deadline]="prjct.deadline"
        [price]="prjct.price"
        [descr]="prjct.descr"
        [customerName]="prjct.customer_name"
        ></ob-project-item>
</div>