<div class="table-container">
    <h2 class="main-title">Проекты</h2>
    <div class="table-tr project-tr">
        <p class="header">ID</p>
        <p class="header">Название проекта</p>
        <p class="header">Дата создания</p>
        <p class="header">Дедлайн</p>
        <p class="header">Стоимость</p>
        <p class="header">Описание</p>
        <p class="header">Название/имя заказчика</p>
        <p class="header">Статус</p>
        <p class="header table-tr__btn">
            <a class="btn add-btn" routerLink="form">
                <span class="material-symbols-outlined">
                    add_box
                </span>
            </a>
        </p>
    </div>
    <ob-project-item 
        *ngFor="let prjct of projects; index as idx"
        [index]="idx"
        [id]="prjct.project_id"
        [name]="prjct.project_name"
        [crDate]="prjct.create_date"
        [deadline]="prjct.deadline"
        [price]="prjct.price"
        [descr]="prjct.descr"
        [customerName]="prjct.customer_name"
        [status]="prjct.status"
        ></ob-project-item>
</div>