<div class="worker-item table-tr worker-tr" [class.even-white]="index%2!==0">
    <p class="worker-item__id">{{ id }}</p>
    <p class="worker-item__fio">{{ fio }}</p>
    <p class="worker-item__bd">{{ bd }}</p>
    <p class="worker-item__email">{{ email }}</p>
    <p class="worker-item__phone">{{ phone }}</p>
    <p class="worker-item__post">{{ post }}</p>
    <p class="worker-item__salary">{{ salary }}</p>
    <p class="table-tr__btn">
        <button class="btn">
            <a class="links" [routerLink]="['/worker/form', id]">
                <span class="material-symbols-outlined">
                    edit
                </span>
            </a>
        </button>
    </p>
</div>