<header class="header">
  <div class="container">
    <nav class="navbar">
      <ul>
        <li><a class="links" routerLink="/projects" routerLinkActive="links-active">Проекты</a></li>
        <li><a class="links" routerLink="/events" routerLinkActive="links-active">События</a></li>
        <li><a class="links" routerLink="/workers" routerLinkActive="links-active">Сотрудники</a></li>
        <li><a class="links" routerLink="/customers" routerLinkActive="links-active">Заказчики</a></li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>