<div class="container">
    <h2 class="main-title">Заказчики</h2>
    <form [formGroup]="form" class="form">
        <div class="field">
            <label for="customerName" class="label">Название / Имя:</label>
            <input class="input" type="text" formControlName="customerName" id="customerName">
        </div>
        <div class="error" *ngIf="isControlInvalid('customerName')">
            Введены некоретные данные 
        </div>

        <div class="field">
            <label for="phone" class="label">Телефон:</label>
            <input class="input" type="text" formControlName="phone" id="phone">
        </div>
        <div class="error" *ngIf="isControlInvalid('phone')">
            Введены некоретные данные 
        </div>
        
        <div class="field">
            <label for="email" class="label">Почта:</label>
            <input class="input" type="text" formControlName="email" id="email">
        </div>
        <div class="error" *ngIf="isControlInvalid('email')">
            Введены некоретные данные 
        </div>
        
        <div class="field">
            <label for="adress" class="label">Адрес:</label>
            <input class="input" type="text" formControlName="adress" id="adress">
        </div>
        <div class="error" *ngIf="isControlInvalid('adress')">
            Введены некоретные данные 
        </div>
        
        <button class="btn" type="button" (click)="onSaveClick()">
            Сохранить
        </button>
    </form>
</div>